<div class="footer">
  <div class="mt-3">
    <a href="https://www.linkedin.com/in/binu-kumar-5a7038146/" target="blank" class="ml-2"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/binu.kumar.90857" target="blank" class="ml-2"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/" target="blank" class="ml-2"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/Binu42" target="blank" class="ml-2"><i class="fab fa-github"></i></a>
  </div>
  <p>Made with ❤️ by Binu Kumar copyright &copy; 2019</p>
</div>