<div class="container text-center">
    <h1 class="display-4">About</h1>
    <p class="lead">This is a simple web application to store all suggestions, signup or login now to add your suggestions. your
        suggestions are private and visible to you and people you suggest. You can edit, delete your suggestions also...</p>
    <p class="text-right text-info">version: 1.0.0</p>
</div>