<div>
    <h1 class="display-4 text-uppercase text-center text-info">About</h1>
    <p class="lead">This is web application where somebody can register and login to give anyother people his own
        personal suggestions privately. Login Now...</p>
    <h4>What users can do after login:- </h4>
    <ul class="list-group border-custom mt-4 bg-dark text-center">
        <li class="list-group-item list-group-item-info text-dark">users can <strong>Ask</strong> a Question for suggestions</li>
        <li class="list-group-item list-group-item-danger">users can <strong>Delete</strong> there own Questions</li>
        <li class="list-group-item list-group-item-warning">users can <strong>Edit</strong> there own Questions</li>
        <li class="list-group-item list-group-item-success">users can <strong>Give</strong> Suggestions to other users Questions</li>
        <li class="list-group-item list-group-item-success text-warning">users can <strong>Edit</strong> there own <em>given Suggestions to other users Questions</em> </li>
        <li class="list-group-item list-group-item-success text-danger">users can <strong>Delete</strong> there own <em>given Suggestions to other users Questions</em> </li>
        <li class="list-group-item list-group-item-primary">users can <strong>View</strong> Answers which They got from others users</li>
        <li class="list-group-item list-group-item-primary text-success">whatever a user give Suggestions to other users is completely <strong>Private</strong> suggestion. it is only visible to user which asked this particular Question.</li>
    </ul>
    <p class="text-right text-info">version: 1.0.0</p>
</div>