<div class="jumbotron text-center">
    <h1 class="display-5">{{title}}</h1>
    <p class="lead">Note down your Suggestions here for my future Reference</p>
    <a href="/suggestions/add" class="btn btn-lg btn-success">Add Suggestion</a>
</div>