.navbar-custom .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=3cff00');
}

.bg-custom{
    background-color: #f8723d!important;
}

.navbar-dark .navbar-nav .nav-link{
    color: #020202;
}