<div class="card card-body">
    <h3 class="text-center">Question</h3>
    <form action="/question" method="post" class="mt-3 suggestion-form">
        <div class="form-group">
            <label for="question">Question</label>
            <textarea name="question" id="question" class="form-control" required></textarea>
            <div id="title-feedback" class="alert alert-danger d-none"></div>
        </div>
        <button class="btn btn-success btn-block">Submit</button>
    </form>
</div>